@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 2%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    min-height: 100vh;
    background: #faf0e4;
    transition: 0.5s;
    overflow-x: hidden;
    overflow-y: scroll;
}
.diagram
{
    position: relative;
    width: 70%;
}

#interfete h3
{
   width: 100%;
} 
#interfete .box
{
    display: flex;
}
.meniu1
{
    position: relative;
    width: 100%;
}
.text
{
    justify-self: flex-start;
}
.meniu2
{
    position: relative;
    justify-self: flex-end;
    height:300px;
}
