.RO_map{
    position: absolute;
    top: 400px;
    left: 15%;
    right: 15%;
}
svg path:hover{
    fill: #A28769;
    transition: 0.8s;
    cursor: pointer;
}
.welcome{
    position: relative;
    top: 95px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
}
.welcome h1{
    font-size: 3rem;
    transform-origin: left;
    transform: scaleX(0);
    animation: textrevelreverse 2s ease-in-out forwards;
    animation-delay: 1.5s;
}
.welcome h1:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: right;
    background-color: black;
    animation: textrevel 2s ease-in-out forwards;
    animation-delay: 3s;
}

.welcome h2{
    font-size: 3.5rem;
    transform-origin: right;
    transform: scaleX(0);
    animation: textrevelreverse 2s ease-in-out forwards;
    animation-delay: 1.5s;
}
.welcome h2:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: left;
    background-color: black;
    animation: textrevel 2s ease-in-out forwards;
    animation-delay: 3s;
}
@keyframes textrevel{
    from{
        transform: scaleX(1);
    }
    to{
        transform: scaleX(0);
    }
}
@keyframes textrevelreverse{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}

.fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

fieldset{
    display: flex;
    justify-content: center;
    margin: 2rem;
    padding: 1rem;
    border: solid 2px rgb(148, 145, 145);
    border-radius: 20px;
    background-color: white;
    width: min-content;
    margin: 80px auto;
}
input{
    margin-left: 1rem;
    background-color: #f3ede6;
    border: solid 2px rgb(148, 145, 145);
    border-radius: 15px;
}
input:last-of-type{
    padding: 0.7rem;
    margin-left: 1.5rem;
    background-color: #A28769;
    border: solid 2px rgb(148, 145, 145);
    border-radius: 20px;
}
input::placeholder{
    padding: 0.5rem;
    color: black;
}
#bg
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url("../../resources/cladiri.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: -1;
}
@media screen and (max-width: 750px) {
    .RO_map {
        margin-top: 120px;
    }
    .fields { 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    input{
        margin: 5px;
        /* margin-left:0.1rem; */
        width: 110px;
        height: 30px;
    }
    input:last-of-type{
        align-self: center;
        margin-left:0.1rem; 
        padding-top: 5.5px;
        width: 70px;
    }
} 

@media screen and (max-width: 280px) {
    .RO_map {
        margin-top: 150px;
    }
}