@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.main {
  /* height: 95%; */
  /* height: 900px; */
  display: flex;
  justify-content: left;
  padding: 20px;
}
.leftSide {
  /* float: right; */
  width: 25%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-right: 2px solid #A28769;
}
.upSide {
  margin-bottom: 60%;
}
.genInfo {
  position: relative;
  background-color: #A28769;
  border-radius: 0px 25px 25px 0px;
  margin: 10px;
  cursor: pointer;
  width: 80%;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  border: none;
  cursor: pointer;
}
.formm form h2 {
  color: black;
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: #0E0805;
}
.genInfo:hover {
  background-color: #0E0805;
  color: #faf0e4;
}
.downSide {
  margin-top: 30%;
}
@media screen and (max-width: 670px) {
  .leftSide {
      /* width: 30%; */
      padding: 10px 5px 10px 5px;
  }
  .upSide {
      margin-bottom: 30%;
      margin-right: 0;
      width: 100%;
  }
  .genInfo {
      margin: 5px;
      width: 95%;
      font-size: 14px;
      font-weight: 500;
  }
  .downSide {
      margin-top: 30%;
  }
}
.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5%;
  margin-top: 10px;
}
.profilePic {
  display: flex;
  justify-content: center;
}
.textTitle {
  align-self: center;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 550;
  margin-right: 5%;
}
img {
  width: 250px;
  border-radius: 20px;
}
.formm {
  margin-top: 5%;
}
.modifications {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: aquamarine; */
}
.textBoxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5%;
}
.text {
  width: 100%;
  margin-right: 5%;
  font-size: 1.25rem;
  font-weight: 550;
}
.invisibleTxt {
  visibility: hidden;
}
.inputBoxes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5%;
}
.inputTag {
  font-size: 15px;
  background-color: #faf0e4;
  border: 3px solid #A28769;
  border-radius: 25px 25px 25px 25px;
  padding: 4px 10px;
  margin: 15px;
  height: 40px;
  width: 250px;
}

.saveChanges {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.currentPass {
  font-size: 15px;
  background-color: #faf0e4;
  border: 3px solid #A28769;
  border-radius: 25px 25px 25px 25px;
  padding: 4px 10px;
  height: 40px;
  width: 250px;
  margin: 10px;
}
/* .deleteAccount {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
.saveBtn {
  position: relative;
  background-color: #A28769;
  border-radius: 25px 25px 25px 25px;
  margin: 10px;
  cursor: pointer;
  width: 250px;
  height: 40px;
  /* font-family: Poppins-Medium; */
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  border: none;
}
.saveBtn:hover {
  background-color: #0E0805;
  color: #faf0e4;
}
.closeBtn {
  position: relative;
  background-color: #A28769;
  border-radius: 25px 25px 25px 25px;
  margin: 10px;
  cursor: pointer;
  width: 150px;
  height: 30px;
  /* font-family: Poppins-Medium; */
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  border: none;
}
.closeBtn:hover {
  background-color: #0E0805;
  color: #faf0e4;
}
@media screen and (max-width: 670px) {
  .rightSide{
      margin-left: 5%;
  }
  .rightSide img{
      width: 150px;
  }
  .textBoxes{
      margin-left: 20px;
  }
  .text{
      font-weight: 550;
      margin-right: 5px;
      width: 100%;
  }
  .inputBoxes{
      margin-top: 5px;
      margin-left: 5%;
  }
  .inputTag{
      /* padding: 15px; */
      font-size: 14px;
  }
  .currentPass{
      font-size: 14px;
  }
  .saveBtn{
      margin: 5px;
      font-size: 14px;
      font-weight: 500;
  }
  .closeBtn{
      margin: 5px;
      font-size: 14px;
  }
}
/* .smallerWidth {
  width: 250px;
} */
#bg {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url("../../resources/cladiri.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    z-index: -1;
}