.main{
    /* height: 95%; */
    height: 900px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.leftSide{
    /* float: right; */
    width: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    border-right: 2px solid #A28769;
}
.genInfo{
    position: relative;
    background-color: #A28769;
    border-radius: 0px 25px 25px 0px;
    margin: 0 auto;
}
